body{
  background-color:white;
  background-size: cover;
  font-family: david libre;
}

.stage{
  display:flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;
  background-color:white;
}

.imgContainer1{
  background-color: transparent;
  border: none;
}

.button(
  -webkit-appearance: none;
)

.player{
  display: flex;
}


h1{
  color: blue;
  margin-top: 100px;
  text-align: center;
}

.dummy{ 
   position:relative;
}