body{
  background: url(https://image.freepik.com/free-vector/flat-garden-landscape-design_23-2147547022.jpg) center center;
  background-size: cover;
}

.stage{
  display:flex;
  align-items: center;
  justify-content: space-around;
}
.player{
  display: flex;
}

img.invert {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

h1{
  color: #fff;
  margin: 20px;
  padding: 35px;
  text-align: center;
}

.dummy{
  background: url(http://network.mugenguild.com/guild/stances/ss1_bonus.gif) no-repeat;
  position: absolute;
  bottom: 20px;
  left: 48%;
  height: 130px;
}