body{
  background-color:white;
  background-size: cover;
  font-family: david libre;
}

button{
  border:#7FB27F;
  background-color:white
}

.stage{
  display:flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;
  background-color:white;
}

.btn-defaukt{
    border: none;
}

.reset{
  height: 105px;
  width: 100px;
  margin-left:2px;
  color:#7FB27F;
  font-weight: 10px;

}

.player{
  display: flex;
}


h1{
  color:#7FB27F;
  margin-top: 100px;
  text-align: center;
}

.dummy{ 
   position:relative;
}